In [75]:
import pandas as pd
import time
import json
import random
import math

In [42]:
t0 = time.time()
df_tags = pd.read_csv("pos_tags.csv") # this data is from https://www.kaggle.com/atmarouane/en-partofspeech-tags
                                      # the tokens this data refers to is stored in below csv file
                                      # this data has tags for tokens that have "plain" class in below csv file
df_tokens = pd.read_csv("en_train.csv") # this data is from https://www.kaggle.com/c/text-normalization-challenge-english-language
                                        # this data has tokens in both normalized and unnormalized form
                                        # for the importance of normalization, visit above link
                                        # this notebook creates json file for word tagger by createML
                                        # i will create 2 json files: normalized tokens-tags and unnormalized tokens-tags
                                        # since dataset is very large, i will create json files consist of 15000 sentences
print("datasets loaded to dataframes in ", time.time() - t0, " seconds")

datasets loaded to dataframes in  3.933832883834839  seconds

In [120]:
t0 = time.time()
unnormalized_list_to_json = []
normalized_list_to_json = []
sentence_ctr = 0
last_sentence_id = df_tokens.tail(1).iloc[0]["sentence_id"] # too much
last_sentence_id = 15000 
while sentence_ctr <= last_sentence_id:
    unnormalized_sentence_tokens = []
    unnormalized_sentence_labels = []
    unnormalized_sentence_dict = {}
    normalized_sentence_tokens = []
    normalized_sentence_labels = []
    normalized_sentence_dict = {}
    
    
    for index, row in df_tokens[df_tokens["sentence_id"] == sentence_ctr].iterrows():
        sentence_id = row["sentence_id"]
        token_id = row["token_id"]
        label = "NONE"
        if(sentence_id in df_tags["sentence_id"].values):
            if(token_id in df_tags[df_tags["sentence_id"] == sentence_id]["token_id"].values):
                label = df_tags["pos"][(df_tags["sentence_id"] == sentence_id) & (df_tags["token_id"] == token_id)].iloc[0]
                if(type(label) != str): # all labels other than str is float 
                    if(math.isnan(label)): # all float labels are float('nan')
                        label = "None"      
        
        unnormalized = row["before"]
        if(type(unnormalized) == str):
            for token in unnormalized.split(' '):
                if(len(token) > 0):
                    unnormalized_sentence_tokens.append(token)
                    unnormalized_sentence_labels.append(label)
        else:
            unnormalized_sentence_tokens.append(str(unnormalized))
            unnormalized_sentence_labels.append(label)
           
        normalized = row["after"]
        if(type(normalized) == str):
            for token in normalized.split(' '):
                if(len(token) > 0):
                    normalized_sentence_tokens.append(token)
                    normalized_sentence_labels.append(label)
        else:
            normalized_sentence_tokens.append(str(normalized))
            normalized_sentence_tokens.append(label)
    
    if(len(unnormalized_sentence_tokens) != 0):
        unnormalized_sentence_dict["tokens"] = unnormalized_sentence_tokens
        unnormalized_sentence_dict["labels"] = unnormalized_sentence_labels
        unnormalized_list_to_json.append(unnormalized_sentence_dict)
    
    if(len(normalized_sentence_tokens) != 0):
        normalized_sentence_dict["tokens"] = normalized_sentence_tokens
        normalized_sentence_dict["labels"] = normalized_sentence_labels
        normalized_list_to_json.append(normalized_sentence_dict)
    
    if(sentence_ctr%500 == 0 and sentence_ctr!=0):
        print("processed sentences: ", sentence_ctr, "duration from start: ", time.time() - t0, " seconds")
    sentence_ctr += 1
       
    
print("lists for json files have been built in ", time.time() - t0, " seconds")
print("processed sentences: ", sentence_ctr)

processed sentences:  500 duration from start:  128.3681080341339  seconds
processed sentences:  1000 duration from start:  254.97327995300293  seconds
processed sentences:  1500 duration from start:  384.57196593284607  seconds
processed sentences:  2000 duration from start:  520.2205719947815  seconds
processed sentences:  2500 duration from start:  652.4947261810303  seconds
processed sentences:  3000 duration from start:  779.7631080150604  seconds
processed sentences:  3500 duration from start:  905.4591898918152  seconds
processed sentences:  4000 duration from start:  1025.8955838680267  seconds
processed sentences:  4500 duration from start:  1152.4406352043152  seconds
processed sentences:  5000 duration from start:  1279.099709033966  seconds
processed sentences:  5500 duration from start:  1404.2063348293304  seconds
processed sentences:  6000 duration from start:  1538.541561126709  seconds
processed sentences:  6500 duration from start:  1666.6410548686981  seconds
processed sentences:  7000 duration from start:  1799.6142151355743  seconds
processed sentences:  7500 duration from start:  1929.124279975891  seconds
processed sentences:  8000 duration from start:  2060.903179883957  seconds
processed sentences:  8500 duration from start:  2183.842178106308  seconds
processed sentences:  9000 duration from start:  2313.9075100421906  seconds
processed sentences:  9500 duration from start:  2445.547247171402  seconds
processed sentences:  10000 duration from start:  2573.5335762500763  seconds
processed sentences:  10500 duration from start:  2702.2242600917816  seconds
processed sentences:  11000 duration from start:  2826.4897451400757  seconds
processed sentences:  11500 duration from start:  2954.13090801239  seconds
processed sentences:  12000 duration from start:  3081.9272871017456  seconds
processed sentences:  12500 duration from start:  3206.250859975815  seconds
processed sentences:  13000 duration from start:  3328.1110582351685  seconds
processed sentences:  13500 duration from start:  3457.1713211536407  seconds
processed sentences:  14000 duration from start:  3585.6911709308624  seconds
processed sentences:  14500 duration from start:  3714.995605945587  seconds
processed sentences:  15000 duration from start:  3838.674464941025  seconds
lists for json files have been built in  3838.6746079921722  seconds
processed sentences:  15001

In [142]:
for index, entry in enumerate(normalized_list_to_json):
    for token in entry["tokens"]:
        if(type(token) is not str):
            print(token)
    for label in entry["labels"]:
        if(type(label) is not str):
            print(label)

In [146]:
unnormalized_list_to_json_12k = unnormalized_list_to_json[:12000]
normalized_list_to_json_12k = normalized_list_to_json[:12000]

In [131]:
random.shuffle(normalized_list_to_json)
random.shuffle(unnormalized_list_to_json)

In [ ]:
average length = 0

In [132]:
with open('unnormalized.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_list_to_json, f, ensure_ascii=False, indent=4)

In [133]:
with open('normalized.json', 'w', encoding='utf-8') as f:
    json.dump(normalized_list_to_json, f, ensure_ascii=False, indent=4)

In [134]:
with open('unnormalized.json', 'r') as f:
    data=f.read()
unnormalized_json_to_list = json.loads(data)

In [135]:
with open('normalized.json', 'r') as f:
    data=f.read()
normalized_json_to_list = json.loads(data)

In [138]:
with open('unnormalized_train_12000.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_json_to_list[0:12000], f, ensure_ascii=False, indent=4)

In [139]:
with open('normalized_train_12000.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_json_to_list[0:12000], f, ensure_ascii=False, indent=4)

In [24]:
with open('unnormalized_train_10k.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_json_to_list[0:10000], f, ensure_ascii=False, indent=4)

In [25]:
with open('normalized_train_10k.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_json_to_list[0:10000], f, ensure_ascii=False, indent=4)

In [26]:
with open('unnormalized_train_20k.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_json_to_list[0:20000], f, ensure_ascii=False, indent=4)

In [27]:
with open('normalized_train_20k.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_json_to_list[0:20000], f, ensure_ascii=False, indent=4)

In [144]:
with open('unnormalized_test.json', 'w', encoding='utf-8') as f:
    json.dump(unnormalized_list_to_json[12000:], f, ensure_ascii=False, indent=4)

In [145]:
with open('normalized_test.json', 'w', encoding='utf-8') as f:
    json.dump(normalized_list_to_json[12000:], f, ensure_ascii=False, indent=4)

In [143]:
for index, pair in enumerate(unnormalized_json_to_list):
    if(len(pair["tokens"]) == 0):
        print(index)

In [48]:
df_tokens[df_tokens["sentence_id"]==41]

,sentence_id,token_id,class,before,after
513,41,0,DATE,"August 16, 2005",august sixteenth two thousand five
514,41,1,PUNCT,.,.

In [49]:
41 in df_tags["sentence_id"].values

False

In [51]:
df_tags[df_tags["sentence_id"]==40]

     sentence_id  token_id   pos
370           40         0   NNP
371           40         4   NNP
372           40         5   NNP
373           40         6  NNPS
374           40         8    NN
375           40        10   NNP

In [77]:
for index, entry in enumerate(unnormalized_list_to_json):
    for token in entry["labels"]:
        if(type(token) is not str and type(token) is not float):
            print(token)
            print(type(token))
            print(index)

In [104]:
for value in df_tokens["before"].values:
    if(type(value) is float and not math.isnan(value)):
        print(value)
        print(type(value))

In [91]:
float("nan")

nan